{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
    {{ macro.avatar(user.avatar, user.username)  }}
    </div>
    <div class="pull-left info">
        <p>{{ user.name }}</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
