nbproject/*
Resources/public/vendor/*
Resources/docs/apidoc
.idea
vendor
composer.lock

# Ignore Eclipse IDE config files
.buildpath
.project
.settings

# Ignore cache files from php cs fixer
.php_cs.cache
